.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.booking {
  &_card {
    width: 100%;
    max-width: 600px;
    margin-bottom: 16px;
  }

  &_find-availability-title {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  &-form__row {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
  }
}

.input-wrapper__container-label {
  font-size: 1rem;
  color: #594d49;
  padding-bottom: 4px;
  margin: 0;
}

.radio-btn {
  width: 100%;
  border: 1px solid #b8afac;
  padding: 12px;

  &:first-of-type {
    border-right: none;
  }

  &__group {
    display: flex;
  }
}

.availability-picker {
  border-top: 1px solid #efeceb;
  font-size: 12px;
  width: 100%;

  &__header-date {
    display: flex;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    color: #5a4d49;
  }

  &__day-name {
    color: #9c727d;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    color: #371c69;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
  }

  &__cell:hover:not(.availability-picker__cell--empty) {
    border: 1px solid #b39cdd;
  }

  &__cell--primary {
    background: #f3effb;
  }

  &__cell--empty {
    background: #fff;
    cursor: inherit;
  }

  &__show-more {
    width: 100%;
  }

  &__empty-line {
    height: 1px;
    width: 16px;
    background: #bd969e;
  }

  &__cell--selected {
    background: #643dae;
    color: #fff;
  }
}
