<div *ngIf="doctorDetails$ | async as doctorDetails" class="container">
  <h1>{{doctorDetails.title}} {{doctorDetails.firstName}} {{doctorDetails.lastName}}</h1>
  <mat-card class="booking_card">
    <mat-card-title class="booking_find-availability-title">Trouver une disponibilité</mat-card-title>
    <mat-card-content>
      <form [formGroup]="bookingForm">
        <div class="booking-form__row">
          <label class="input-wrapper__container-label">Est-ce votre premier rendez-vous chez ce praticien?</label>
          <mat-radio-group class="radio-btn__group" formControlName="isNewPatient" aria-label="Select an option">
            <mat-radio-button class="radio-btn" [value]="true">Oui</mat-radio-button>
            <mat-radio-button class="radio-btn" [value]="false">Non</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="booking-form__row">
          <label class="input-wrapper__container-label">Quelle est la raison de votre visite?</label>
            <mat-select formControlName="motiveId" placeholder="Sélectionner un motif">
              <mat-option *ngFor="let motive of doctorDetails.motives" [value]="motive.id">
                {{motive.label}}
              </mat-option>
            </mat-select>
        </div>

        <table class="availability-picker">
        <thead>
          <tr>
            <th>
              <button (click)="displayPreviousSlots()"
                      [disabled]="(canCheckPreviousTimeSlots$ | async) === false"
                      mat-icon-button aria-label="Go to previous time slots"
              >
                <mat-icon>chevron_left</mat-icon>
              </button>
            </th>
            <th *ngFor="let day of days$ | async">
              <div class="availability-picker__header-date">
                <span class="availability-picker__day-name">{{day | date: 'EEEEEE'}}</span>
                {{day | date: 'MMM dd'}}
              </div>
            </th>
            <th>
              <button (click)="displayNextSlots()"
                      [disabled]="!(timeSlots$ | async)?.maxRows?.length"
                      mat-icon-button aria-label="Go to next time slots"
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="timeSlots$ | async as timeSlots">
          <ng-container *ngFor="let row of timeSlots.maxRows; index as i">
            <tr *ngIf="!maxDisplayedTimeSlots || i < maxDisplayedTimeSlots">
              <td></td>
              <td *ngFor="let day of timeSlots.result | keyvalue: originalOrder;">
                <div
                  (click)="selectSlot(day.value[i])"
                  class="availability-picker__cell availability-picker__cell--primary"
                  [class.availability-picker__cell--selected]="selectedSlot?.startTime === day.value[i]?.startTime"
                  *ngIf="day.value[i]; else empty"
                >
                  <span>{{day.value[i].startTime | date: 'HH:mm'}}</span>
                </div>
                <ng-template #empty>
                  <div class="availability-picker__cell availability-picker__cell--empty">
                    <span class="availability-picker__empty-line"></span>
                  </div>
                </ng-template>
              </td>
              <td></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
        <button
          (click)="displayAllTimeSlots()"
          *ngIf="maxDisplayedTimeSlots && (timeSlots$ | async)?.maxRows?.length"
          mat-button
          class="availability-picker__show-more"
        >
          Montrer plus de disponibilités
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
